:root {
}

header {
	display: flex;
	align-items: center;
	/*justify-content: flex-end;*/

}

#home {
	width: 40%;
	display: flex;
	align-items: center;
	font-family:  cursive;
	font-size: 1.1em;
	font-style:  italic;
}

#header-img {
	width: 20%;
	margin: 0 0.5em 0 0.2em;
}

#nav-bar {
	width: 60%;
}

#nav-bar ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

.nav-link {
	text-decoration: none;
	padding-right: 1.5em;
	color: black;
}
